header {
    margin-bottom: 10px;
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $background-color;

    .sunny-logo-container {

        .sunny-logo{
            // margin-left: 75px;
            width: 400px;
        }
    }
    nav {
          // background-color: blue;
    //   margin: 0px 0px 0px 100px;
      // width: 960px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      overflow: visible;
      position: relative;
      z-index: 100;
        ul {
            padding-top: 25px;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;

            .paintingBtn {
                font-size: 1em;
                font-family: $font;
                color: $font-color-grey;
                background: none;
                border: none;
                padding: 0;
            }

            .paintingBtn:hover {
                color: $font-color-hover;
                transition: .25s ease-in-out;
                cursor: pointer;
            }
            .paintingBtn:focus {
                outline: 0;
            }

           .slide-painting {
            background-color: $background-color;
            width: 100px;
            height: 215px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            position: absolute;
            top: -250px;
            left: -10px;
            transition: .15 ease-in-out;
            opacity: 0;
            transition-property: opacity;
            z-index: -1;

            li {
                margin: 10px 5px 10px 0px;
                font-size: 1em;
                cursor: pointer;
            }
           }

           .slide-painting-position {
            top: 45px;
            left: -10px;
            opacity: 1;
            z-index: 50;
           }


           .worksBtn {
               margin-left: 25px;
                font-size: 1em;
                font-family: $font;
                color: $font-color-grey;
                background: none;
                border: none;
                padding: 0;
            }

            .worksBtn:hover {
                color: $font-color-hover;
                transition: .25s ease-in-out;
                cursor: pointer;
            }
            .worksBtn:focus {
                outline: 0;
            }

            .slide-works {
                background-color: $background-color;
                width: 150px;
                height: 150px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                position: absolute;
                top: -250px;
                left: 118px;
                transition: .15 ease-in-out;
                opacity: 0;
                transition-property: opacity;
                z-index: -1;
    
                li {
                    margin: 10px 5px 10px 0px;
                    font-size: 1em;
                    cursor: pointer;
                }
               }
    
               .slide-works-position {
                    top: 45px;
                    left: 95px;
                    opacity: 1;
                    z-index: 50;
               }

                .galleryBtn {
                    margin-left: 25px;
                    font-size: 1em;
                    font-family: $font;
                    color: $font-color-grey;
                    background: none;
                    border: none;
                    padding: 0;
                }
 
                .galleryBtn:hover {
                    color: $font-color-hover;
                    transition: .25s ease-in-out;
                    cursor: pointer;
                }
                .galleryBtn:focus {
                    outline: 0;
                }

                .slide-gallery {
                    background-color: $background-color;
                    width: 200px;
                    height: 70px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    position: absolute;
                    top: -250px;
                    left: 210px;
                    transition: .15 ease-in-out;
                    opacity: 0;
                    transition-property: opacity;
                    z-index: -1;
        
                    li {
                        margin: 10px 5px 10px 0px;
                        font-size: 1em;
                        cursor: pointer;
                    }
                }
        
                .slide-gallery-position {
                    top: 45px;
                    left: 210px;
                    opacity: 1;
                    z-index: 50;
                }

                .commissionBtn {
                    margin-left: 25px;
                    font-size: 1em;
                    font-family: $font;
                    color: $font-color-grey;
                    background: none;
                    border: none;
                    padding: 0;   
                }
                .commissionBtn:hover {
                    color: $font-color-hover;
                    transition: .25s ease-in-out;
                    cursor: pointer;
                }
                .commissionBtn:focus {
                    outline: 0;
                }

            li {
                font-size: $font-size;
                font-family: $font;
                margin-left: 25px;
                color: $font-color-grey;
            }
            li:hover {
                color: $font-color-hover;
                transition: .25s ease-in-out;
            }

            .aboutBtn {
                font-size: 1.1em;
                font-family: $font;
                color: $font-color-grey;
                background: none;
                border: none;
                padding: 0;
                
            }
            .aboutBtn:hover {
                color: $font-color-hover;
                transition: .25s ease-in-out;
                cursor: pointer;
            }
            .aboutBtn:focus {
                outline: 0;
            }
        }
    }
    .slide-about {
        background-color: $background-color;
        width: 100%;
        height: 930px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: absolute;
        top: -1000px;
        transition: .25s ease-in-out;
        opacity: 0;
        transition-property: opacity;
        z-index: -1;
    }
            
    .slide-about-position {
        top: 100px;
        right: 0px;
        opacity: 1;
        z-index: 500;
    }
    .about-container {
        width: 85%;
        height: 100%;
        margin-left: 150px;
        padding: 0px 40px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        // background-color: yellow;

        .photo-contact-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .sunny-portrait {
                border-radius: 25px;
            }

            .email {
                margin-top: 10px;
                color: $font-color-grey;
                font-size: 1em;
                font-family: $font;
            } 
        }
        .education-container {
            width: 100%;
            padding-left: 25px;
            

            h3 {
                margin: 10px;
                font-family: $font;
                line-height: 16px;
                letter-spacing: 1px;
                font-size: 1em;
                color: rgb(100, 100, 100);
                text-transform: uppercase;
            }

            h4 {
                @extend h3;
                font-size: .8em;
                color: $font-color-grey;
            }
        }

        .exhibition-container {
            @extend .education-container;
        }

        .xBtnAbout {
            font-size: 2em;
            border: none;
            cursor: pointer;
            background: transparent;
            color: $font-color-grey;
        }

        .xBtnAbout:hover {
            color: $font-color-hover;
            transition: .25s ease-in-out;
            cursor: pointer;
        }

        .xBtnAbout:focus {
            outline: 0;
        }
    }
}
