header {
    margin-bottom: 10px;
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $background-color;

    .sunny-logo-container {

        .sunny-logo{
            margin-left: 15px;
            width: 400px;
        }
    }
    nav {
          // background-color: blue;
      margin: 0px 20px 0px 0px;
      // width: 960px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      overflow: visible;
      position: relative;
      z-index: 100;
        ul {
            padding-top: 25px;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            li {
                font-size: $font-size;
                font-family: $font;
                margin-left: 25px;
                color: $font-color;
            }
            li:hover {
                color: $font-color-hover;
                transition: .5s ease-in-out;
            }
            
            .nav-text{
                padding-bottom: 2px;
                }

            .aboutBtn {
                font-size: 1em;
                font-family: $font;
                color: $font-color;
                background: none;
                border: none;
                padding: 0;
                
            }
            .aboutBtn:hover{
                color: $font-color-hover;
                transition: .5s ease-in-out;
                cursor: pointer;
            }
            .aboutBtn:focus {
                outline: 0;
            }
        }
    }
    .slide-about {
        background-color: $background-color;
        width: 100%;
        height: 930px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: absolute;
        top: 100px;
        transition: .25s ease-in-out;
        opacity: 0;
        transition-property: opacity;
        z-index: -1;
    }
            
    .slide-about-position {
        top: 100px;
        right: 0px;
        opacity: 1;
        z-index: 500;
    }
    .about-container {
        width: 100%;
        height: 100%;
        padding: 0px 40px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        // background-color: yellow;

        .sunny-portrait {
            border-radius: 25px;
        }

        .education-container {
            width: 100%;
            padding-left: 25px;
            

            h3 {
                margin: 10px;
                font-family: $font;
                letter-spacing: 1px;
                font-size: 1em;
                color: rgb(100, 100, 100);
                text-transform: uppercase;
            }

            h4 {
                @extend h3;
                font-size: .8em;
                color: $font-color-grey;
            }
        }

        .exhibition-container {
            @extend .education-container;
            padding: 0px 100px 0px 0px;
        }

        .xBtn{
            font-size: 2em;
            border: none;
            cursor: pointer;
            background: transparent;
            color: $font-color-grey;
        }

        .xBtn:focus {
            outline: 0;
        }
    }
}

