header {
  margin-bottom: 10px;
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #191919; }
  header .sunny-logo-container .sunny-logo {
    margin-left: 15px;
    width: 400px; }
  header nav {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    overflow: visible;
    position: relative;
    z-index: 100; }
    header nav ul {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end; }
      header nav ul li {
        margin-left: 25px;
        color: #cc9780; }
