@import url('https://fonts.googleapis.com/css?family=Montserrat');

// Variables
$font-size: .9em;
$font-color:  rgb(204, 151, 128);
$font-color-hover: rgb(241, 177, 149);
$background-color: rgb(25, 25, 25);
$font: 'Montserrat', sans-serif;


@import './Components/Header/Header';
@import './Components/Footer/Footer';
@import './Components/Carousel/Carousel';
@import './Components/About/About';

