@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url(~slick-carousel/slick/slick.css);
@import url(~slick-carousel/slick/slick-theme.css);
header {
  margin-bottom: 10px;
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #191919; }
  header .sunny-logo-container .sunny-logo {
    margin-left: 15px;
    width: 400px; }
  header nav {
    margin: 0px 20px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    overflow: visible;
    position: relative;
    z-index: 100; }
    header nav ul {
      padding-top: 25px;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end; }
      header nav ul li {
        font-family: "Montserrat", sans-serif;
        margin-left: 25px;
        color: #cc9780; }
      header nav ul li:hover {
        color: #f1b195;
        transition: .5s ease-in-out; }

footer {
  height: 50px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 75px;
  width: 100vw;
  background-color: #191919; }
  footer .footer-content {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    position: relative; }
    footer .footer-content h1 {
      font-family: "Montserrat", sans-serif;
      color: #cc9780; }
  footer .danlubbers, footer a {
    color: #7d7d7d; }
  footer .danlubbers:hover {
    color: #969696;
    transition: .35s; }

.carousel-container {
  width: 100%;
  margin-top: 40px;
  display: block; }
  .carousel-container .carousel-image {
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center; }

.slick-slide.slick-center img {
  transform: scale(1.1);
  margin-left: auto;
  margin-right: auto; }

.text-box {
  position: fixed;
  height: 10px;
  width: 100vw;
  margin: 15px 0px 0px 0px;
  color: white;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
