@import url("https://fonts.googleapis.com/css?family=Montserrat");
header {
  margin-bottom: 10px;
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #191919; }
  header .sunny-logo-container .sunny-logo {
    margin-left: 15px;
    width: 400px; }
  header nav {
    margin: 0px 20px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    overflow: visible;
    position: relative;
    z-index: 100; }
    header nav ul {
      padding-top: 25px;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end; }
      header nav ul li {
        font-family: "Montserrat", sans-serif;
        margin-left: 25px;
        color: #cc9780; }
      header nav ul li:hover {
        color: #d37c56;
        transition: .5s ease-in-out; }
